name: test

permissions:
  contents: read

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  semgrep-rules-test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: semgrep
        run: |
          python -m pip install --upgrade pip
          python -m pip install semgrep
      - name: semgrep-validate
        run: semgrep --config rules --validate
      - name: semgrep-test
        run: semgrep --test --test-ignore-todo
